.track{
    margin-top: -100px;
    position: relative;
    padding: 48px;
}


@media only screen and (max-width: 767px){
    .track{
        margin-top: -80px;
        padding: 18px;
    }
    .track input{
        width: 100% !important;
    }
}

/* @media (min-width: 689px) and (max-width: 1024px){ */